/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 1120px;
  width: 100%;
}
.card-body{
  text-align: center;
}
p{
  color: silver;
}
.card{
  border-radius: 20px !important;
  box-shadow: 1rem 0px 1rem 0px rgba(0,0,0,0.2);
}
.card:hover{
  transform: scale(1.05);
}
.card-footer{
  color: #f5b642 !important;
  border-radius: 0px 20px 0px 20px !important;
  margin: 0;
  padding: 0;
  background-color: #f5b642 !important;
}
.btn{
  color:white !important;
  border: none !important;
}
.rate{
  color: #f5b642 !important;
}
.card-img-top{
  width:   100% !important;
  height: 250px;
}